.wrapper {
    width: 85%;
    margin: 0 auto;
}

#dashboard-main {

}

#dashboard-side {

}

.hide {
    display: none;
}

.todo_completed {
    color: #b3b3b3;
}

.todo_text {
    overflow-wrap:break-word !important;
    word-break:break-all;
    word-wrap: break-word;
}

// Mixin itself
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}